<%= form_with model: @customer do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %><br>
      <% @customer.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :mobile_number %><br>
      <%= form.text_field :mobile_number %><br>
      <% @customer.errors.full_messages_for(:mobile_number).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %><br>
      <% @customer.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :address %><br>
      <%= form.text_area :address %><br>
      <% @customer.errors.full_messages_for(:address).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>