<%= form_with model: @order do |form| %>
  <div class="card">
  <div class="card-body">
    <div class="mb-3">
      <%= form.label :item_name,{ class: "form-label"} %><br>
      <%= form.text_field :item_name,{ class: "form-control", placeholder: "Enter your name" } %><br>
      <% @order.errors.full_messages_for(:item_name).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>
  
    <div class="mb-3" >
      <%= form.label :quantity,{ class: "form-label"} %><br>
      <%= form.text_field :quantity,{ class: "form-control", placeholder: "Enter your name" } %><br>
      <% @order.errors.full_messages_for(:quantity).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :price,{ class: "form-label"} %><br>
      <%= form.text_field :price,{ class: "form-control", placeholder: "Enter your name" } %><br>
      <% @order.errors.full_messages_for(:price).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :delivery_address,{ class: "form-label"} %><br>
      <%= form.text_field :delivery_address,{ class: "form-control", placeholder: "Enter your name" } %><br>
      <% @order.errors.full_messages_for(:delivery_address).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
    <%= form.label :restaurant_id,{ class: "form-label"} %><br />
    <%= form.select :restaurant_id, Restaurant.all.collect{|r| [r.restaurant_name,r.id]},{ class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :customer_id,{ class: "form-label"}%><br />
    <%= form.select :customer_id, Customer.all.collect{|c| [c.name,c.id]},{ class: "form-control" }%>
  </div>

    <div>
      <%= form.submit"Submit", class: "btn btn-primary" %>
    </div>
    </div>
    </div>

<% end %>