<p>Item Name: <%= @order.item_name %></p>

<p>Qunatity: <%= @order.quantity %></p>

<p>Price: <%= @order.price %></p>

<p>Delivery Address: <%= @order.delivery_address %></p>

<ul>
  <li><%= link_to "Edit", edit_order_path(@order) %></li>
  <li><%= link_to "Destroy", order_path(@order), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "Back", customers_path%></li>
</ul>