<h2 class="tag-index-main-heading">List of tags:</h2>

<table class="table w-100">
        <tr>
            <th>Tag Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Destroy</th>
        </tr>
        <% @tags.each do |tag| %>
            <tr>
                <td>
                  <p><%=link_to tag.tag.capitalize, tag%></p>
                </td>
                <td>
                  <%= tag.tag_description.capitalize %>
                </td>
                <td>
                <%= button_to "Edit", edit_tag_path(tag) , method: :get,class:"btn btn-primary"%>
                </td>
                <td>
                  <%= button_to "Destroy", tag_path(tag), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, method: :delete,class:"btn btn-danger" %>
                </td>
            </tr>
            <% end %>
        </table>
        
<br/>

<div class="tag-button-container">
<%= button_to "Add tag", new_tag_path,method: :get,class:"btn btn-success" %>
</div> 