<%= form_with model: @product_tag do |form| %>

    <div class="mb-3">
    <%= form.label :product_id%><br />
    <%= form.select :product_id, Product.all.collect{|c| [c.product_name,c.id]}%>
  </div>

  <div class="mb-3">
    <%= form.label :tag_id%><br />
    <% Tag.all.each do |tag|%>
      <%= form.check_box :tag_id,{multiple: true} %>
      <%= tag.tag%>
      <%end%>
  </div>

  
    <div>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>