<h2>full details of <%=@product.product_name %> </h2>
<p><%=@product.product_name %></p>
<p><%=@product.product_description %></p>
<p><%=@product.price %></p>
<p><%=@product.brand %></p>

<%= link_to "back", products_path %>