<!DOCTYPE html>
<html>
  <head>
    <title>Productscatalogue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path%>">
    <img src="https://i.pinimg.com/736x/2b/35/a4/2b35a4763a31b6f5f40d9de9d7e05f88.jpg" class="nav_image"/>
    </a>
  </div>
  </nav>
  <% flash.each do |type, msg| %> 
    <div>
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
